In [7]:
import numpy as np
import pandas as pd

In [163]:
df = pd.read_csv('C:/Users/sperini.NOTEBOOK44/Documents/Git/product-space/data/processed/datos_expo_wide.csv', index_col=None)

C:\Programas\miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [164]:
df

,ReporterISO3,ProductCode,ReporterName,1997,1998,1999,2007,2008,2009,2017,2018,2019,prom_1719,prom_0709,prom_9799
0,ABW,101,Aruba,NaN,NaN,NaN,1.809000e+00,1.285000e+00,4.476000e+00,6.145000e+00,5.397000e+00,8.483000e+00,6.680000e+00,2.520000e+00,NaN
1,ABW,103,Aruba,NaN,NaN,NaN,NaN,NaN,8.400000e-02,NaN,NaN,NaN,NaN,8.000000e-02,NaN
2,ABW,104,Aruba,NaN,NaN,NaN,6.420000e-01,1.700000e-02,NaN,NaN,NaN,NaN,NaN,3.300000e-01,NaN
3,ABW,105,Aruba,NaN,NaN,NaN,6.849000e+00,1.531000e+00,4.473000e+00,2.737400e+01,7.388400e+01,4.778100e+01,4.968000e+01,4.280000e+00,NaN
4,ABW,106,Aruba,NaN,NaN,NaN,5.834000e+00,1.006900e+01,1.000700e+01,1.202400e+01,1.059400e+01,4.669000e+00,9.100000e+00,8.640000e+00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181033,YEM,YEM_Total,YEM_Total,0.000000e+00,0.000000e+00,0.000000e+00,6.104268e+06,7.179989e+06,6.040706e+06,0.000000e+00,9.833120e+03,8.475465e+03,1.019419e+04,6.459510e+06,0.000000e+00
181034,ZAF,ZAF_Total,ZAF_Total,2.248234e+07,1.958175e+07,2.106922e+07,6.402661e+07,7.396555e+07,5.386389e+07,8.794021e+07,9.192710e+07,8.779196e+07,8.921997e+07,6.397221e+07,2.513747e+07
181035,ZMB,ZMB_Total,ZMB_Total,1.123429e+06,1.032257e+06,1.062903e+06,4.720011e+06,4.902756e+06,3.879827e+06,8.006790e+06,9.043157e+06,6.853336e+06,8.001964e+06,4.508956e+06,1.113924e+06
181036,ZWE,ZWE_Total,ZWE_Total,0.000000e+00,0.000000e+00,0.000000e+00,2.744753e+06,1.104163e+06,1.739255e+06,3.480382e+06,4.037267e+06,4.279384e+06,3.942767e+06,1.891237e+06,0.000000e+00
181037,Todos los paises,Todos los paises_Total,Todos los paises_Total,4.688713e+09,4.734105e+09,5.014217e+09,1.477040e+10,1.706260e+10,1.328838e+10,1.905076e+10,2.079456e+10,2.011129e+10,2.015527e+10,1.511313e+10,5.147891e+09

In [25]:
# si quisiera seleccionar solo columnas numÃ©ricas 
# numeric_inputs = df.select_dtypes(include=np.number)

In [165]:
# pruebo con un ejemplo para luego escalarlo a todos
df.loc[df['ReporterISO3']=='ABW','prom_1719']

0             6.68
1              NaN
2              NaN
3            49.68
4             9.10
            ...
785         102.07
786            NaN
787           9.18
788        4484.50
180844    82523.51
Name: prom_1719, Length: 790, dtype: float64

In [166]:
df.loc[df['ReporterISO3']=='ABW','prom_1719'] / 82523.51

0         0.000081
1              NaN
2              NaN
3         0.000602
4         0.000110
            ...
785       0.001237
786            NaN
787       0.000111
788       0.054342
180844    1.000000
Name: prom_1719, Length: 790, dtype: float64

In [167]:
pd.to_numeric(df.loc[df['ProductCode']==('ABW'+'_Total'),'prom_1719'], errors='coerce')

180844    82523.51
Name: prom_1719, dtype: float64

In [168]:
df.loc[df['ProductCode']==('ABW'+'_Total'),'prom_1719'].values

array([82523.51])

In [170]:
df

,ReporterISO3,ProductCode,ReporterName,1997,1998,1999,2007,2008,2009,2017,2018,2019,prom_1719,prom_0709,prom_9799
0,ABW,101,Aruba,NaN,NaN,NaN,1.809000e+00,1.285000e+00,4.476000e+00,6.145000e+00,5.397000e+00,8.483000e+00,6.680000e+00,2.520000e+00,NaN
1,ABW,103,Aruba,NaN,NaN,NaN,NaN,NaN,8.400000e-02,NaN,NaN,NaN,NaN,8.000000e-02,NaN
2,ABW,104,Aruba,NaN,NaN,NaN,6.420000e-01,1.700000e-02,NaN,NaN,NaN,NaN,NaN,3.300000e-01,NaN
3,ABW,105,Aruba,NaN,NaN,NaN,6.849000e+00,1.531000e+00,4.473000e+00,2.737400e+01,7.388400e+01,4.778100e+01,4.968000e+01,4.280000e+00,NaN
4,ABW,106,Aruba,NaN,NaN,NaN,5.834000e+00,1.006900e+01,1.000700e+01,1.202400e+01,1.059400e+01,4.669000e+00,9.100000e+00,8.640000e+00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181033,YEM,YEM_Total,YEM_Total,0.000000e+00,0.000000e+00,0.000000e+00,6.104268e+06,7.179989e+06,6.040706e+06,0.000000e+00,9.833120e+03,8.475465e+03,1.019419e+04,6.459510e+06,0.000000e+00
181034,ZAF,ZAF_Total,ZAF_Total,2.248234e+07,1.958175e+07,2.106922e+07,6.402661e+07,7.396555e+07,5.386389e+07,8.794021e+07,9.192710e+07,8.779196e+07,8.921997e+07,6.397221e+07,2.513747e+07
181035,ZMB,ZMB_Total,ZMB_Total,1.123429e+06,1.032257e+06,1.062903e+06,4.720011e+06,4.902756e+06,3.879827e+06,8.006790e+06,9.043157e+06,6.853336e+06,8.001964e+06,4.508956e+06,1.113924e+06
181036,ZWE,ZWE_Total,ZWE_Total,0.000000e+00,0.000000e+00,0.000000e+00,2.744753e+06,1.104163e+06,1.739255e+06,3.480382e+06,4.037267e+06,4.279384e+06,3.942767e+06,1.891237e+06,0.000000e+00
181037,Todos los paises,Todos los paises_Total,Todos los paises_Total,4.688713e+09,4.734105e+09,5.014217e+09,1.477040e+10,1.706260e+10,1.328838e+10,1.905076e+10,2.079456e+10,2.011129e+10,2.015527e+10,1.511313e+10,5.147891e+09

In [171]:
(df.loc[df['ReporterISO3']=='ABW','prom_1719']) / (df.loc[df['ProductCode']==('ABW'+'_Total'),'prom_1719'].values)

0         0.000081
1              NaN
2              NaN
3         0.000602
4         0.000110
            ...
785       0.001237
786            NaN
787       0.000111
788       0.054342
180844    1.000000
Name: prom_1719, Length: 790, dtype: float64

In [172]:
df.prom_1719

0         6.680000e+00
1                  NaN
2                  NaN
3         4.968000e+01
4         9.100000e+00
              ...
181033    1.019419e+04
181034    8.921997e+07
181035    8.001964e+06
181036    3.942767e+06
181037    2.015527e+10
Name: prom_1719, Length: 181038, dtype: float64

In [173]:
df.loc[df['ProductCode']==(df.ReporterISO3+'_Total'),'prom_1719'].values

array([8.25235100e+04, 8.75520180e+05, 3.89814312e+07, 2.62953990e+06,
       1.24162010e+05, 0.00000000e+00, 2.32910770e+08, 6.31179587e+07,
       2.23224544e+06, 2.82741000e+03, 2.49793303e+08, 1.69548046e+08,
       1.81600916e+07, 1.65975310e+05, 4.48291427e+08, 8.09316820e+05,
       3.12079276e+06, 0.00000000e+00, 3.29632290e+07, 1.20598309e+07,
       5.02013150e+05, 6.71806143e+06, 3.19886499e+07, 0.00000000e+00,
       2.10043750e+05, 3.09573500e+04, 8.62246374e+06, 2.27678737e+08,
       3.22627430e+05, 6.31402325e+06, 0.00000000e+00, 5.77020175e+06,
       1.31989250e+05, 4.03613465e+08, 3.07820900e+08, 7.13554200e+07,
       2.41872459e+09, 1.23454018e+07, 6.52731078e+06, 8.44783807e+06,
       0.00000000e+00, 3.97023671e+07, 4.73196800e+04, 6.30140600e+04,
       1.13475987e+07, 0.00000000e+00, 1.59071667e+06, 1.94742912e+08,
       1.50247609e+09, 0.00000000e+00, 0.00000000e+00, 1.06651151e+08,
       9.12635980e+06, 3.51911173e+07, 2.10227878e+07, 2.88800635e+07,
       3.27735975e+08, 5.34786436e+06, 1.81481209e+06, 2.23674790e+09,
       7.18074864e+07, 7.30310700e+05, 5.49428445e+08, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 4.65751074e+08, 2.06275751e+06,
       1.60864518e+07, 0.00000000e+00, 6.93728000e+03, 3.65109212e+07,
       0.00000000e+00, 6.19704380e+05, 1.10988234e+07, 2.64546709e+06,
       5.51591794e+08, 4.21055487e+06, 1.66702203e+07, 0.00000000e+00,
       1.19854091e+08, 1.72310958e+08, 3.13302568e+08, 1.58617454e+08,
       1.01280195e+08, 5.23791493e+06, 6.05209927e+07, 5.12464357e+08,
       1.39513223e+06, 6.77778368e+06, 7.13990277e+08, 5.57921253e+07,
       5.45716001e+06, 1.87361816e+06, 1.29705993e+07, 0.00000000e+00,
       2.28942600e+04, 5.73552490e+08, 6.26997968e+07, 5.43763928e+06,
       5.85429819e+06, 3.00408922e+07, 1.19530720e+05, 1.14142249e+07,
       6.73150800e+05, 3.19472121e+07, 1.45411128e+07, 1.42392144e+07,
       5.52554000e+04, 2.81288350e+07, 1.83942410e+06, 2.86393955e+06,
       1.90769210e+05, 4.41354155e+08, 6.59359323e+06, 1.90273002e+06,
       4.04435068e+06, 1.62507071e+07, 6.96708210e+06, 4.51885190e+05,
       4.96538720e+06, 2.19024458e+06, 0.00000000e+00, 1.99987910e+06,
       8.98444730e+05, 2.34515862e+08, 0.00000000e+00, 3.87340888e+06,
       0.00000000e+00, 1.78881884e+06, 5.58342584e+07, 5.07284970e+06,
       5.64181677e+08, 1.09687449e+08, 7.40742930e+05, 3.78073758e+07,
       3.27666690e+08, 3.22834541e+07, 2.27363942e+07, 1.06008199e+07,
       4.61339718e+07, 6.92424784e+07, 8.56168000e+03, 2.45219797e+08,
       6.77801703e+07, 8.47052418e+06, 1.48253701e+06, 0.00000000e+00,
       7.34972499e+07, 7.60040516e+07, 4.19140687e+08, 7.36490200e+05,
       2.52985124e+08, 0.00000000e+00, 3.62375180e+06, 1.86122701e+07,
       3.91839431e+08, 5.35202850e+05, 1.63468010e+05, 5.87179297e+06,
       1.24884900e+04, 3.92452698e+06, 1.43406279e+06, 8.89501430e+07,
       3.53163182e+07, 1.59815043e+08, 1.88475142e+06, 4.63544910e+05,
       0.00000000e+00, 0.00000000e+00, 9.99477050e+05, 2.40828188e+08,
       0.00000000e+00, 2.41741900e+04, 0.00000000e+00, 0.00000000e+00,
       1.49193984e+07, 1.68624318e+08, 3.96663429e+06, 2.81445508e+06,
       4.53966822e+07, 7.73960845e+06, 1.37784556e+09, 1.17903828e+07,
       3.81753300e+04, 0.00000000e+00, 2.41330479e+08, 0.00000000e+00,
       4.83586200e+04, 1.01941900e+04, 8.92199700e+07, 8.00196377e+06,
       3.94276720e+06, 2.01552661e+10])

In [174]:
df.loc[df['ProductCode']==(df.ReporterISO3+'_Total')]

,ReporterISO3,ProductCode,ReporterName,1997,1998,1999,2007,2008,2009,2017,2018,2019,prom_1719,prom_0709,prom_9799
180844,ABW,ABW_Total,ABW_Total,0.000000e+00,0.000000e+00,0.000000e+00,9.789275e+04,1.008693e+05,1.357471e+05,8.907934e+04,6.976273e+04,8.362703e+04,8.252351e+04,1.282815e+05,0.000000e+00
180845,AFG,AFG_Total,AFG_Total,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.400656e+05,4.034410e+05,0.000000e+00,8.755201e+05,0.000000e+00,8.755202e+05,5.056451e+05,0.000000e+00
180846,AGO,AGO_Total,AGO_Total,0.000000e+00,0.000000e+00,0.000000e+00,4.417778e+07,0.000000e+00,4.063941e+07,3.490488e+07,4.209674e+07,0.000000e+00,3.898143e+07,4.240860e+07,0.000000e+00
180847,ALB,ALB_Total,ALB_Total,1.376810e+05,2.076538e+05,3.510978e+05,1.077690e+06,5.440536e+05,1.087915e+06,2.302318e+06,2.875860e+06,0.000000e+00,2.629540e+06,9.163958e+05,2.410192e+05
180848,AND,AND_Total,AND_Total,4.800039e+04,5.785890e+04,4.268060e+04,1.508462e+05,1.390993e+05,1.004779e+05,1.179656e+05,1.294482e+05,0.000000e+00,1.241620e+05,1.333405e+05,5.092940e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181033,YEM,YEM_Total,YEM_Total,0.000000e+00,0.000000e+00,0.000000e+00,6.104268e+06,7.179989e+06,6.040706e+06,0.000000e+00,9.833120e+03,8.475465e+03,1.019419e+04,6.459510e+06,0.000000e+00
181034,ZAF,ZAF_Total,ZAF_Total,2.248234e+07,1.958175e+07,2.106922e+07,6.402661e+07,7.396555e+07,5.386389e+07,8.794021e+07,9.192710e+07,8.779196e+07,8.921997e+07,6.397221e+07,2.513747e+07
181035,ZMB,ZMB_Total,ZMB_Total,1.123429e+06,1.032257e+06,1.062903e+06,4.720011e+06,4.902756e+06,3.879827e+06,8.006790e+06,9.043157e+06,6.853336e+06,8.001964e+06,4.508956e+06,1.113924e+06
181036,ZWE,ZWE_Total,ZWE_Total,0.000000e+00,0.000000e+00,0.000000e+00,2.744753e+06,1.104163e+06,1.739255e+06,3.480382e+06,4.037267e+06,4.279384e+06,3.942767e+06,1.891237e+06,0.000000e+00
181037,Todos los paises,Todos los paises_Total,Todos los paises_Total,4.688713e+09,4.734105e+09,5.014217e+09,1.477040e+10,1.706260e+10,1.328838e+10,1.905076e+10,2.079456e+10,2.011129e+10,2.015527e+10,1.511313e+10,5.147891e+09

In [175]:
df.loc[df['ProductCode']==(df.ReporterISO3+'_Total'),'prom_1719']

180844    8.252351e+04
180845    8.755202e+05
180846    3.898143e+07
180847    2.629540e+06
180848    1.241620e+05
              ...
181033    1.019419e+04
181034    8.921997e+07
181035    8.001964e+06
181036    3.942767e+06
181037    2.015527e+10
Name: prom_1719, Length: 194, dtype: float64

In [180]:
df2 = pd.read_csv('C:/Users/sperini.NOTEBOOK44/Documents/Git/product-space/data/processed/datos_expo_long.csv', index_col=None)
df2

,Nomenclature,ReporterISO3,ProductCode,ReporterName,PartnerISO3,PartnerName,Year,TradeFlowName,TradeFlowCode,TradeValue in 1000 USD
0,H1,ALB,101,Albania,WLD,World,1997,Export,6,14.538
1,H1,ALB,105,Albania,WLD,World,1997,Export,6,10.612
2,H1,ALB,106,Albania,WLD,World,1997,Export,6,34.767
3,H1,ALB,206,Albania,WLD,World,1997,Export,6,18.225
4,H1,ALB,207,Albania,WLD,World,1997,Export,6,105.227
...,...,...,...,...,...,...,...,...,...,...
1018158,H1,ZWE,9618,Zimbabwe,WLD,World,2019,Export,6,0.456
1018159,H1,ZWE,9701,Zimbabwe,WLD,World,2019,Export,6,32.100
1018160,H1,ZWE,9703,Zimbabwe,WLD,World,2019,Export,6,2172.791
1018161,H1,ZWE,9705,Zimbabwe,WLD,World,2019,Export,6,8252.694
1018162,H1,ZWE,9999,Zimbabwe,WLD,World,2019,Export,6,1450.204

Calculo de VCR obtenido de [QuantEconNotes](https://notes.quantecon.org/submission/5b32e9b0b9eab00015b89f7d)

In [181]:
data = df2[["ReporterISO3", "ProductCode", 'ReporterName', 'Year', 'TradeValue in 1000 USD']]
data

        ReporterISO3  ProductCode ReporterName  Year  TradeValue in 1000 USD
0                ALB          101      Albania  1997                  14.538
1                ALB          105      Albania  1997                  10.612
2                ALB          106      Albania  1997                  34.767
3                ALB          206      Albania  1997                  18.225
4                ALB          207      Albania  1997                 105.227
...              ...          ...          ...   ...                     ...
1018158          ZWE         9618     Zimbabwe  2019                   0.456
1018159          ZWE         9701     Zimbabwe  2019                  32.100
1018160          ZWE         9703     Zimbabwe  2019                2172.791
1018161          ZWE         9705     Zimbabwe  2019                8252.694
1018162          ZWE         9999     Zimbabwe  2019                1450.204

[1018163 rows x 5 columns]

In [182]:
# uso la funciÃ³n transform para que me devuelva un objeto del mismo tipo que el dataframe original
data['X_pais'] = data[["Year", "ReporterISO3", 'TradeValue in 1000 USD']].groupby(by=["Year", "ReporterISO3"]).transform(np.sum)
data["X_prod"] = data[["Year", "ProductCode", 'TradeValue in 1000 USD']].groupby(by=["Year", "ProductCode"]).transform(np.sum)
data["X_world"] = data[["Year", 'TradeValue in 1000 USD']].groupby(by=["Year"]).transform(np.sum)

<ipython-input-182-735d38501ac8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['X_pais'] = data[["Year", "ReporterISO3", 'TradeValue in 1000 USD']].groupby(by=["Year", "ReporterISO3"]).transform(np.sum)
<ipython-input-182-735d38501ac8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["X_prod"] = data[["Year", "ProductCode", 'TradeValue in 1000 USD']].groupby(by=["Year", "ProductCode"]).transform(np.sum)
<ipython-input-182-735d38501ac8>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["X_world"] = data[["Year", 'TradeValue in 1000 USD']].groupby(by=["Year"]).transform(np.sum)

In [183]:
data

,ReporterISO3,ProductCode,ReporterName,Year,TradeValue in 1000 USD,X_pais,X_prod,X_world
0,ALB,101,Albania,1997,14.538,137681.011,1.149995e+06,4.688713e+09
1,ALB,105,Albania,1997,10.612,137681.011,9.129408e+05,4.688713e+09
2,ALB,106,Albania,1997,34.767,137681.011,2.881290e+05,4.688713e+09
3,ALB,206,Albania,1997,18.225,137681.011,1.506364e+06,4.688713e+09
4,ALB,207,Albania,1997,105.227,137681.011,8.128468e+06,4.688713e+09
...,...,...,...,...,...,...,...,...
1018158,ZWE,9618,Zimbabwe,2019,0.456,4279383.548,5.956388e+05,2.011129e+10
1018159,ZWE,9701,Zimbabwe,2019,32.100,4279383.548,3.262906e+07,2.011129e+10
1018160,ZWE,9703,Zimbabwe,2019,2172.791,4279383.548,6.483313e+06,2.011129e+10
1018161,ZWE,9705,Zimbabwe,2019,8252.694,4279383.548,2.098486e+06,2.011129e+10
1018162,ZWE,9999,Zimbabwe,2019,1450.204,4279383.548,8.540004e+08,2.011129e+10

In [3]:
df = pd.read_csv('C:/Users/sperini.NOTEBOOK44/Documents/Git/product-space/data/processed/datos_expo_wide.csv', index_col=None)

C:\Programas\miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df

,ReporterISO3,ProductCode,ReporterName,1997,1998,1999,2007,2008,2009,2017,2018,2019,prom_1719,prom_0709,prom_9799
0,ABW,101,Aruba,NaN,NaN,NaN,1.809000e+00,1.285000e+00,4.476000e+00,6.145000e+00,5.397000e+00,8.483000e+00,6.680000e+00,2.520000e+00,NaN
1,ABW,103,Aruba,NaN,NaN,NaN,NaN,NaN,8.400000e-02,NaN,NaN,NaN,NaN,8.000000e-02,NaN
2,ABW,104,Aruba,NaN,NaN,NaN,6.420000e-01,1.700000e-02,NaN,NaN,NaN,NaN,NaN,3.300000e-01,NaN
3,ABW,105,Aruba,NaN,NaN,NaN,6.849000e+00,1.531000e+00,4.473000e+00,2.737400e+01,7.388400e+01,4.778100e+01,4.968000e+01,4.280000e+00,NaN
4,ABW,106,Aruba,NaN,NaN,NaN,5.834000e+00,1.006900e+01,1.000700e+01,1.202400e+01,1.059400e+01,4.669000e+00,9.100000e+00,8.640000e+00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181033,YEM,YEM_Total,YEM_Total,0.000000e+00,0.000000e+00,0.000000e+00,6.104268e+06,7.179989e+06,6.040706e+06,0.000000e+00,9.833120e+03,8.475465e+03,1.019419e+04,6.459510e+06,0.000000e+00
181034,ZAF,ZAF_Total,ZAF_Total,2.248234e+07,1.958175e+07,2.106922e+07,6.402661e+07,7.396555e+07,5.386389e+07,8.794021e+07,9.192710e+07,8.779196e+07,8.921997e+07,6.397221e+07,2.513747e+07
181035,ZMB,ZMB_Total,ZMB_Total,1.123429e+06,1.032257e+06,1.062903e+06,4.720011e+06,4.902756e+06,3.879827e+06,8.006790e+06,9.043157e+06,6.853336e+06,8.001964e+06,4.508956e+06,1.113924e+06
181036,ZWE,ZWE_Total,ZWE_Total,0.000000e+00,0.000000e+00,0.000000e+00,2.744753e+06,1.104163e+06,1.739255e+06,3.480382e+06,4.037267e+06,4.279384e+06,3.942767e+06,1.891237e+06,0.000000e+00
181037,Todos los paises,Todos los paises_Total,Todos los paises_Total,4.688713e+09,4.734105e+09,5.014217e+09,1.477040e+10,1.706260e+10,1.328838e+10,1.905076e+10,2.079456e+10,2.011129e+10,2.015527e+10,1.511313e+10,5.147891e+09

In [5]:
# si quisiera seleccionar solo columnas numÃ©ricas 
# numeric_inputs = df.select_dtypes(include=np.number)
df['ProductCode'].nunique()

2678

In [55]:
df.loc[df['ProductCode']==(df.ReporterISO3+'_Total')]

,ReporterISO3,ProductCode,ReporterName,1997,1998,1999,2007,2008,2009,2017,2018,2019,prom_1719,prom_0709,prom_9799
180844,ABW,ABW_Total,ABW_Total,0.000000e+00,0.000000e+00,0.000000e+00,9.789275e+04,1.008693e+05,1.357471e+05,8.907934e+04,6.976273e+04,8.362703e+04,8.252351e+04,1.282815e+05,0.000000e+00
180845,AFG,AFG_Total,AFG_Total,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.400656e+05,4.034410e+05,0.000000e+00,8.755201e+05,0.000000e+00,8.755202e+05,5.056451e+05,0.000000e+00
180846,AGO,AGO_Total,AGO_Total,0.000000e+00,0.000000e+00,0.000000e+00,4.417778e+07,0.000000e+00,4.063941e+07,3.490488e+07,4.209674e+07,0.000000e+00,3.898143e+07,4.240860e+07,0.000000e+00
180847,ALB,ALB_Total,ALB_Total,1.376810e+05,2.076538e+05,3.510978e+05,1.077690e+06,5.440536e+05,1.087915e+06,2.302318e+06,2.875860e+06,0.000000e+00,2.629540e+06,9.163958e+05,2.410192e+05
180848,AND,AND_Total,AND_Total,4.800039e+04,5.785890e+04,4.268060e+04,1.508462e+05,1.390993e+05,1.004779e+05,1.179656e+05,1.294482e+05,0.000000e+00,1.241620e+05,1.333405e+05,5.092940e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181033,YEM,YEM_Total,YEM_Total,0.000000e+00,0.000000e+00,0.000000e+00,6.104268e+06,7.179989e+06,6.040706e+06,0.000000e+00,9.833120e+03,8.475465e+03,1.019419e+04,6.459510e+06,0.000000e+00
181034,ZAF,ZAF_Total,ZAF_Total,2.248234e+07,1.958175e+07,2.106922e+07,6.402661e+07,7.396555e+07,5.386389e+07,8.794021e+07,9.192710e+07,8.779196e+07,8.921997e+07,6.397221e+07,2.513747e+07
181035,ZMB,ZMB_Total,ZMB_Total,1.123429e+06,1.032257e+06,1.062903e+06,4.720011e+06,4.902756e+06,3.879827e+06,8.006790e+06,9.043157e+06,6.853336e+06,8.001964e+06,4.508956e+06,1.113924e+06
181036,ZWE,ZWE_Total,ZWE_Total,0.000000e+00,0.000000e+00,0.000000e+00,2.744753e+06,1.104163e+06,1.739255e+06,3.480382e+06,4.037267e+06,4.279384e+06,3.942767e+06,1.891237e+06,0.000000e+00
181037,Todos los paises,Todos los paises_Total,Todos los paises_Total,4.688713e+09,4.734105e+09,5.014217e+09,1.477040e+10,1.706260e+10,1.328838e+10,1.905076e+10,2.079456e+10,2.011129e+10,2.015527e+10,1.511313e+10,5.147891e+09

In [60]:
df.loc[(df['ProductCode']!=(df.ReporterISO3+'_Total'))]

,ReporterISO3,ProductCode,ReporterName,1997,1998,1999,2007,2008,2009,2017,2018,2019,prom_1719,prom_0709,prom_9799
0,ABW,101,Aruba,NaN,NaN,NaN,1.809000e+00,1.285000e+00,4.476000e+00,6.145000e+00,5.397000e+00,8.483000e+00,6.680000e+00,2.520000e+00,NaN
1,ABW,103,Aruba,NaN,NaN,NaN,NaN,NaN,8.400000e-02,NaN,NaN,NaN,NaN,8.000000e-02,NaN
2,ABW,104,Aruba,NaN,NaN,NaN,6.420000e-01,1.700000e-02,NaN,NaN,NaN,NaN,NaN,3.300000e-01,NaN
3,ABW,105,Aruba,NaN,NaN,NaN,6.849000e+00,1.531000e+00,4.473000e+00,2.737400e+01,7.388400e+01,4.778100e+01,4.968000e+01,4.280000e+00,NaN
4,ABW,106,Aruba,NaN,NaN,NaN,5.834000e+00,1.006900e+01,1.000700e+01,1.202400e+01,1.059400e+01,4.669000e+00,9.100000e+00,8.640000e+00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180839,Todos los paises,9703,TOT,4.995609e+05,5.288797e+05,5.600905e+05,2.895279e+06,3.143872e+06,2.971313e+06,5.316528e+06,5.450452e+06,6.483313e+06,5.763538e+06,3.005604e+06,5.402538e+05
180840,Todos los paises,9704,TOT,2.039868e+05,1.748930e+05,1.619459e+05,2.360655e+05,2.376180e+05,2.069267e+05,1.719148e+05,1.864708e+05,1.600196e+05,1.735062e+05,2.281169e+05,1.852215e+05
180841,Todos los paises,9705,TOT,2.854066e+05,3.425063e+05,3.369923e+05,7.005600e+05,9.198514e+05,6.852953e+05,1.596656e+06,1.682814e+06,2.098486e+06,1.831003e+06,7.690941e+05,3.399055e+05
180842,Todos los paises,9706,TOT,1.445352e+06,1.337021e+06,1.485024e+06,3.266286e+06,3.093562e+06,1.908123e+06,3.154910e+06,3.511998e+06,4.206318e+06,3.651594e+06,2.788744e+06,1.468292e+06
180843,Todos los paises,9999,TOT,1.199337e+08,1.107682e+08,1.206252e+08,5.884525e+08,7.235735e+08,6.607815e+08,8.181851e+08,9.128963e+08,8.540004e+08,8.623582e+08,6.588180e+08,1.220377e+08

In [61]:
df.loc[(df['ProductCode']!=(df.ReporterISO3+'_Total'))]['ProductCode'].nunique()

2484

In [62]:
df.loc[(df['ProductCode']!=(df.ReporterISO3+'_Total'))]['ProductCode'].to_numpy()

array([101, 103, 104, ..., '9705', '9706', '9999'], dtype=object)

In [7]:
# paÃ­ses para los que no hay datos 9799
df.loc[(df['ProductCode']==(df.ReporterISO3+'_Total')) & (df['prom_9799']==0)].ReporterISO3.to_numpy() 
# 67 paises

array(['ABW', 'AFG', 'AGO', 'BDI', 'BFA', 'BGD', 'BHR', 'BIH', 'BMU',
       'BRB', 'BRN', 'BWA', 'CIV', 'CMR', 'COG', 'COK', 'COM', 'DJI',
       'DOM', 'EGY', 'ETH', 'EUN', 'FJI', 'FSM', 'GHA', 'GRD', 'KGZ',
       'KHM', 'KIR', 'KWT', 'LAO', 'LBY', 'LCA', 'LSO', 'MAR', 'MDA',
       'MMR', 'MNT', 'MRT', 'MYT', 'NAM', 'NCL', 'OAS', 'OMN', 'PAK',
       'PHL', 'PLW', 'PSE', 'QAT', 'RWA', 'SER', 'SLB', 'SLE', 'SUD',
       'SUR', 'SWZ', 'SYR', 'TMP', 'TON', 'TUN', 'UKR', 'UZB', 'VNM',
       'VUT', 'WSM', 'YEM', 'ZWE'], dtype=object)

In [8]:
# paÃ­ses para los que no hay datos 0709
df.loc[(df['ProductCode']==(df.ReporterISO3+'_Total')) & (df['prom_0709']==0)].ReporterISO3.to_numpy() 
# 13 paises

array(['BLX', 'BMU', 'CUB', 'HTI', 'IRN', 'LAO', 'MMR', 'PLW', 'SLE',
       'SUD', 'TKM', 'TMP', 'UZB'], dtype=object)

In [9]:
# paÃ­ses para los que no hay datos 1719
df.loc[(df['ProductCode']==(df.ReporterISO3+'_Total')) & (df['prom_1719']==0)].ReporterISO3.to_numpy() 
# 27 paises

array(['ANT', 'BGD', 'BLX', 'BTN', 'COK', 'CUB', 'DJI', 'DMA', 'FRO',
       'FSM', 'GAB', 'GIN', 'GRD', 'HTI', 'KIR', 'MSR', 'MYT', 'NCL',
       'PYF', 'SDN', 'SYR', 'TCA', 'TKM', 'TON', 'TTO', 'VEN', 'VUT'],
      dtype=object)

In [46]:
# armo nuevo data frame descartando la filas de todos los paÃ­ses y el total por paÃ­s porque lo voy a calcular en columnas ahora
df_ = df.loc[df['ProductCode']!=(df.ReporterISO3+'_Total')] 
df_ = df_.loc[df_['ReporterISO3']!=('Todos los paises')]
df_

,ReporterISO3,ProductCode,ReporterName,1997,1998,1999,2007,2008,2009,2017,2018,2019,prom_1719,prom_0709,prom_9799
0,ABW,101,Aruba,NaN,NaN,NaN,1.809,1.285,4.476,6.145,5.397,8.483,6.68,2.52,NaN
1,ABW,103,Aruba,NaN,NaN,NaN,NaN,NaN,0.084,NaN,NaN,NaN,NaN,0.08,NaN
2,ABW,104,Aruba,NaN,NaN,NaN,0.642,0.017,NaN,NaN,NaN,NaN,NaN,0.33,NaN
3,ABW,105,Aruba,NaN,NaN,NaN,6.849,1.531,4.473,27.374,73.884,47.781,49.68,4.28,NaN
4,ABW,106,Aruba,NaN,NaN,NaN,5.834,10.069,10.007,12.024,10.594,4.669,9.10,8.64,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179597,ZWE,9702,Zimbabwe,NaN,NaN,NaN,NaN,0.002,NaN,0.655,NaN,NaN,0.66,0.00,NaN
179598,ZWE,9703,Zimbabwe,NaN,NaN,NaN,4844.384,690.542,966.129,2261.126,2253.457,2172.791,2229.12,2167.02,NaN
179599,ZWE,9704,Zimbabwe,NaN,NaN,NaN,2.376,NaN,NaN,NaN,NaN,NaN,NaN,2.38,NaN
179600,ZWE,9705,Zimbabwe,NaN,NaN,NaN,30099.052,29621.528,14193.067,8866.771,8995.939,8252.694,8705.13,24637.88,NaN
179601,ZWE,9999,Zimbabwe,NaN,NaN,NaN,9485.615,NaN,17.901,398.377,500.855,1450.204,783.15,4751.76,NaN

In [48]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 179602 entries, 0 to 179601
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ReporterISO3  179602 non-null  object
 1   ProductCode   179602 non-null  object
 2   ReporterName  179602 non-null  object
 3   1997          72901 non-null   float64
 4   1998          84720 non-null   float64
 5   1999          96132 non-null   float64
 6   2007          128697 non-null  float64
 7   2008          129378 non-null  float64
 8   2009          132133 non-null  float64
 9   2017          133220 non-null  float64
 10  2018          127526 non-null  float64
 11  2019          113456 non-null  float64
 12  prom_1719     147283 non-null  float64
 13  prom_0709     152110 non-null  float64
 14  prom_9799     108184 non-null  float64
dtypes: float64(12), object(3)
memory usage: 21.9+ MB

In [51]:
df_.ProductCode.nunique()

2484

In [52]:
df_

,ReporterISO3,ProductCode,ReporterName,1997,1998,1999,2007,2008,2009,2017,2018,2019,prom_1719,prom_0709,prom_9799
0,ABW,101,Aruba,NaN,NaN,NaN,1.809,1.285,4.476,6.145,5.397,8.483,6.68,2.52,NaN
1,ABW,103,Aruba,NaN,NaN,NaN,NaN,NaN,0.084,NaN,NaN,NaN,NaN,0.08,NaN
2,ABW,104,Aruba,NaN,NaN,NaN,0.642,0.017,NaN,NaN,NaN,NaN,NaN,0.33,NaN
3,ABW,105,Aruba,NaN,NaN,NaN,6.849,1.531,4.473,27.374,73.884,47.781,49.68,4.28,NaN
4,ABW,106,Aruba,NaN,NaN,NaN,5.834,10.069,10.007,12.024,10.594,4.669,9.10,8.64,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179597,ZWE,9702,Zimbabwe,NaN,NaN,NaN,NaN,0.002,NaN,0.655,NaN,NaN,0.66,0.00,NaN
179598,ZWE,9703,Zimbabwe,NaN,NaN,NaN,4844.384,690.542,966.129,2261.126,2253.457,2172.791,2229.12,2167.02,NaN
179599,ZWE,9704,Zimbabwe,NaN,NaN,NaN,2.376,NaN,NaN,NaN,NaN,NaN,NaN,2.38,NaN
179600,ZWE,9705,Zimbabwe,NaN,NaN,NaN,30099.052,29621.528,14193.067,8866.771,8995.939,8252.694,8705.13,24637.88,NaN
179601,ZWE,9999,Zimbabwe,NaN,NaN,NaN,9485.615,NaN,17.901,398.377,500.855,1450.204,783.15,4751.76,NaN